# MANIFEST.in
recursive-exclude tergite_tuner  **/tests/**
recursive-exclude tergite_tuner  **/templates/**
recursive-exclude tergite_tuner  **/data/**
prune docs
prune docs_editable
prune .github
prune .idea
prune .gitlab
prune .vscode
prune datasets
prune development
prune dummy_datasets
prune libraries
prune out
prune resources
prune examples